@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  color-scheme: light dark;
  --primary-color: light-dark(#000, #fff);
  --primary-background: light-dark(#fffffc, #121212);
  --highlight-color: light-dark(hotpink, lime);
  --primeiro-titulo-color: light-dark(chocolate,#f90);
  --segundo-titulo-color: light-dark(hotpink,hotpink);
  --link-color: light-dark(#007FDB,lightblue);
  --link-sobre-color: light-dark(olive,#99cc00);
  --link-ativo-color: light-dark(deeppink,lightpink);
  --sublinha-color:light-dark(#cff,#003366);
  --code-color: light-dark(navy,lightblue);
  --border-color: light-dark(purple,lime);
  --termo-color:light-dark(olive,#9c0);
  --mark-bg:light-dark(yellow,yellow);
  --mark-color:light-dark(#000,#000);
  --barra-rolagem: light-dark (#fff,#333);
  --barra-rolagem-thumb: light-dark (#fff,#333); 
  --barra-rolagem-thumb-hover: light-dark (#fff,#333);
  --barra-rolagem-active: light-dark (#99cc00,#333);
  --barra-rolagem-track: light-dark (#fff,#333);
  --barra-rolagem-track-piece: light-dark (#fff,#333);
  --barra-rolagem-corner: light-dark (#fff,#333);   
}

:root {
  &:has(input[name="color-scheme"][value="light dark"]:checked) {
    color-scheme: light dark;
  }
  &:has(input[name="color-scheme"][value="light"]:checked) {
    color-scheme: light;
  }
  &:has(input[name="color-scheme"][value="dark"]:checked) {
    color-scheme: dark;
  }
}

* {color:var(--primary-color); transition: all 1s ease; scrollbar-color:var(--primeiro-titulo-color) var(--primary-background); scroll-behavior: smooth; text-decoration-skip-ink:none; text-underline-position:under;}

html {background-image:url("https://meuted.io/images/3100844.png"),url("https://meuted.io/images/3100786.png");
   background-blend-mode:multiply; scrollbar-color:white #160B2B;}

body {color:var(--primary-background); background: var(--primary-background); font-family:"Vend Sans",sans-serif; font-size:1.2em; margin:1vw; border:0;padding:1vw;}

/* CSS dos links abaixo */
a {color:var(--link-color); text-decoration:none;}
a:hover {color:var(--link-sobre-color); text-decoration: underline; text-decoration-color:var(--sublinha-color); text-decoration-thickness:50%; text-decoration-style: solid; text-underline-offset:-50%; text-decoration-skip-ink:none;}
a:active {color:var(--link-ativo-color);}
a img {border:0;}
a:hover img {border:0;}
a:active img {border:0;}
a:link img {border:0;}
a:visited img {border:0;}
/* CSS dos links acima */

mark {color:var(--mark-color);background:var(--mark-bg);}
code, .code {color:var(--code-color); border:1px dotted; border-color:var(--border-color); padding:10px; font-family:'courier new';}
pre {font-family:'courier new';}

hr {height:5px; border:0; background:linear-gradient(to right, #9c0, orange, deeppink, purple, navy);border-radius:3px; clear:both; display:block;}

/* template */
#menudecima {padding: 1vw;}

nav {margin-bottom:30px;}

h1, a:has(h1) {font-size:230%;}
a:hover:has(h1), a h1:hover {text-decoration: none; color:var(--link-color);}
h2 {font-size:170%; margin: 1em auto 0.3em; color:var(--segundo-titulo-color);}
h3 {font-size:150%;}
h4 {font-size:140%;}
h5 {font-size:130%;}
h6 {font-size:120%;}

h3, h4, h5, h6 {color:var(--segundo-titulo-color);}

div#contem {padding:20px; font-size:1em;}
ul#nav li {display:inline; padding:10px}

div#conteudo {margin:1.5vw;}
div#conteudo h1 {margin-top:0; margin-bottom:0;font-size:10vw; background:repeating-linear-gradient(to bottom,#ff00ff,darkorange,green) !important;background-clip:text !important;background-size:cover !important;text-fill-color: transparent !important;-webkit-background-clip: text !important;  -webkit-text-fill-color: transparent !important; width: auto;}
div#conteudo ul {margin-left:1vw;}
div#conteudo li {padding-left: 1vw;}

/* tr:nth-child(odd) {background:rgb(226, 255, 247);}
tr:nth-child(even) {background:rgb(254, 212, 255);}  */
th, td {padding:5px;}

dt, dd.price {font-size:1.2em; font-weight:bold}
dt {padding-right:3px;color:var(--termo-color);}
dd {font-size:1.3em; padding-bottom:2vw;}
dd.valor {font-size:110%; float:right; padding-left:3px}
dd.detalhes {font-style:italic; float:left; padding:3px 0; width:100%;border-top:1px dashed #ccc;}
p {font-size:1em;text-align:left; margin-top:10px;}

#ring {padding:20px;}
#ring h1 {font-size:200%;}
#ring h2 {font-size:150%;}
#ring p {margin-top:auto;}
#ring dl {-moz-column-width: 330px; -webkit-column-width: 330px; -o-column-width:330px; column-width:330px;}
#ring dt {text-align:center; float:none; padding-right:inherit; margin-top:25px; margin-bottom:10px; font-size:130%;   break-before:auto; break-inside: avoid-column; break-after: avoid-column;}
#ring dd {margin:auto; text-align:center; break-before:avoid-column; break-inside: avoid-column; break-after:auto;}
#ring a {color:skyblue;}
#ring a:hover {color:linen;}

.centro {margin-left:auto; margin-right:auto;text-align:center;display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */}

.blue {color:blue;} .red {color:red;}

video {margin-top:20px; margin-bottom:30px; margin-left:auto; margin-right:auto; text-align:center; display:block;}
audio {margin-left:auto; margin-right:auto; text-align:center; float:none; display:block;}

.gsc-control-cse {background-color:inherit !important; border:0 !important;}

.gcse-searchresults {background-color:var(--primary-background) !important;}
